.content {
  width: 50vw;
  height: 650px;
  background-color: #e7ecef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;

  .wrapper {
    width: 95%;
    height: 360px;
    border-radius: 10px;
    background-color: #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 20px;
      font-weight: bold;
      color: #0d1b2a;
      margin-bottom: 20px;

    }

    .report {
      width: 80%;
      height: 60%;
      display: flex;
      border-radius: 10px;
      background-color: #fff;
      font-size: 10px;

      .infoPayment {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: #415a77;
        border-radius: 10px;
        background-color: #eee;
        padding: 10px;
        justify-content: center;
        align-items: center;

        .icon {
          width: 60px;
          height: 60px;
          margin-bottom: 10px;
        }

        .item {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 10px;
        }

        .itemTitle {
          font-size: 10px;
        }

        .itemValueAccount {
          color: #003f88;
          font-weight: 700;
        }

        .itemValuePayment {
          color: #02c39a;
          font-weight: 700;
        }

        .itemValueChange {
          color: #ffc107;
          font-weight: 700;
        }
      }

      .bankNoteCounting {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #eee;
        padding: 10px;
        color: #415a77;
        font-size: 10px;
        font-weight: 400;
        margin-left: 10px;

        .bankNoteCountingTitle {
          font-size: 20px;
          font-weight: bold;
          color: #0d1b2a;
          margin-bottom: 20px;
        }

        .bankNoteCountingItem {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 400;
          font-size: 10px;

          .bankNoteCountingItemTitle {
            color: #003f88;
            font-weight: 700;
          }

          .bankNoteCountingItemValue {
            color: #02c39a;
            font-weight: 700;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 1190px) {
  .content {
    width: 100vw;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    .wrapper {

      .title {
        font-size: 16px;

      }

      .report {
        width: 90%;
        height: 60%;
        flex-direction: column;


        .infoPayment {
          width: 100%;
          height: 35%;



          .icon {}

          .item {}

          .itemTitle {
            font-size: 9px;
          }

          .itemValueAccount {
            font-size: 9px;
          }

          .itemValuePayment {
            font-size: 9px;
          }

          .itemValueChange {
            font-size: 9px;
          }
        }

        .bankNoteCounting {
          width: 100%;
          height: 65%;
          background-color: #fff;
          margin-left: 0;

          .bankNoteCountingTitle {
            font-size: 12px;
          }

          .bankNoteCountingItem {

            .bankNoteCountingItemTitle {}

            .bankNoteCountingItemValue {}
          }
        }
      }

    }
  }
}